# dataset
dataset/
dataset
/datasets/*
vis/

# checkpoints
checkpoints/
checkpoints
/checkpoints/*

*.png
*.json
*.jpg
*.log
*.mp4
*.avi

# pytorch/python/numpy formats
*.pth
*.pkl
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/
